.margin-vertical {
	margin-top: 1em;
	margin-bottom: 1em;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.no-margin {
	margin: 0;
}

.margin-horizontal {
	margin-right: 1em;
	margin-left: 1em;
}

.right {
	float: right;
}

.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.radius {
	border-radius: 8px;
}

.rounded {
	border-radius: 500px;
}

.text--bold {
	font-weight: 700;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

.text--small {
	font-size: 75%;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--white {
	color: #FFF;
}

.text--green {
	color: #59AC59;
}

.text--red {
	color: #E04B4B;
}

.word-break {
	word-break: break-all;
}

.list--inline li {
	display: inline-block;
	margin-top: .125em;
	margin-right: .5em;
	margin-bottom: .625em;
}

.list--centered {
	padding: 0;
	text-align: center;
}

	.list--centered li {
		display: inline-block;
		float: none;
	}

.list--unstyled {
	list-style: none;
	padding: 0;
}
