.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.margin-horizontal {
	margin-right: 1em;
	margin-left: 1em;
}

.right {
	float: right;
}

.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.radius {
	border-radius: 8px;
}

.rounded {
	border-radius: 500px;
}

.text--bold {
	font-weight: 700;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

.text--small {
	font-size: 75%;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--white {
	color: #FFF;
}

.text--green {
	color: #59AC59;
}

.text--red {
	color: #E04B4B;
}

.link {
	text-shadow: none;
	transition: text-shadow 200ms ease-in-out;
}

	.link:focus, .link:hover {
		text-shadow: 0 0 5px rgba(64, 67, 91, .5);
		transition: text-shadow 200ms ease-in-out;
	}

.link--special {
	position: relative;
	display: inline-block;
}

	.link--special::after {
		content: '';
		height: 1px;
		width: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transition: .2s;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		will-change: width;
	}

		.link--special:focus::after, .link--special:hover::after {
			width: 100%;
			transition: .2s;
		}

.link--special.text--green {
	background-color: #59AC59;
}

.link--special.text--red::after {
	background-color: #E04B4B;
}

.list--inline li {
	display: inline-block;
	margin-top: .125em;
	margin-right: .5em;
	margin-bottom: .625em;
}

.list--centered {
	padding: 0;
	text-align: center;
}

	.list--centered li {
		display: inline-block;
		float: none;
	}

.list--unstyled {
	list-style: none;
	padding: 0;
}
